<div>
  <mat-form-field class="example-full-width">
      <input [(ngModel)] = "email" name = "email" matInput placeholder="Email">
      <mat-hint>Your email</mat-hint>
      </mat-form-field>
      <p class = "error" *ngIf = "error.code =='auth/user-not-found'">{{error.message}}</p>
      <p class = "error" *ngIf = "error.code =='auth/invalid-email'">{{error.message}}</p>
    </div>
    
  
    <div>
      <mat-form-field class="example-full-width">
          <input [(ngModel)] = "password" name = "password" matInput placeholder="Password">
          <mat-hint>Your password</mat-hint>
          </mat-form-field>
          <p class = "error" *ngIf = "error.code =='auth/wrong-password'">{{error.message}}</p>
        </div>
       
  
        <div>
        <button mat-raised-button (click)="login()">Login</button>
        </div>